@charset "UTF-8";

body{
    width: 100%;
    background:;
    margin: 0;
    color: #808080;
}
.contents{
width: 80%;
margin: 0 auto;
}
a{
  color: black;
}
a:hover{
  color: #BFBFBF;
}
.site_navi{
background-color: rgba(255,255,255,0.9);
display: flex;
position:fixed;
width: 100%;
padding-top: 10px;
padding-bottom: 5px;
}

 #navBtn{
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  text-align: center;
  cursor: pointer;
  bottom: 0;
    padding:  45px 40px 25px;
}
.navi_menu li{
    border-right:solid 1px  #E6E6E6;
    border-left:solid 1px  #E6E6E6;

  }


.logo {
    display:flex;
    height: 50px;
    margin-left: 5%;
}

.logo img{
height: 100%;
}

.rogodenaitokiyou {
    height: 50px;
    display:block;
    font-size: 9pt;
    color: #696969;
    padding-bottom: 5px;
    padding-top: 50px;
    margin:0 5% ;
}

.nav {
    right: 15%;
    position: fixed;
}
.navi_menu{
display: flex;
list-style: none;
padding-top: 15px;
}

.navi_menu a{
text-decoration: none;
display: flex;
}


.hamburger {
    display: none;
    position: fixed;
    right: 2.3%;
    top: 10px;
    width: 40px;
    height: 50px;
    cursor: pointer;
    z-index: 3;
    background: white;
    text-align: center;
}
.hamburger:hover{
  background: #E6E6E6;}

.hamburger span {
    display: block;
    position: absolute;
    width: 25px;
    border-bottom: solid 2px #000;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}


.hamburger span:nth-child(1) {
    top: 9px;
}

.hamburger span:nth-child(2) {
    top: 18px;
}

.hamburger span:nth-child(3) {
    top: 27px;
}

.hamburger span:nth-child(4) {
    border: none;
    color: #000;
    font-size: 9px;
    font-weight: bold;
    top: 34px;
}

.hamburger.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2){
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.hamburger.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.contents{
  padding-top: 10em;
  padding-bottom: 9em;
  color: #696969;
}
h2{
  color: #121212;
}


footer {
  position: fixed;
  bottom: 0px;
  font-size:  7px;
}


@media screen and (max-width: 1072px) {
.logo img{
    display:none;
}
.rogodenaitokiyou{
    font-size: 20px;
}
}

    @media screen and (max-width: 767px) {
        .site_navi {
            position: none;
            float: none;
            display:absolute;
            width: 100%;
            margin: 0 auto;

        }

        .navi_menu {
            display: none;
        }

        .logo {
            display: none;
        }


        .rogodenaitokiyou {
            display: inline-block;
            text-align: left;
        }


        .grob_menu {
            background-color: rgba(255, 255, 255, 0.8);
            -webkit-appearance: none;
            -moz-appearance: none;
            float: none;
            display: none;
            position: absolute;
            list-style: none;
            bottom: 0;
            padding: 15px 40px 25px;
            right: 2.3%;
            top: 120px;
        }

            .grob_menu.open li {
                position: fixed;
                display: block;
                border: solid 1px #E6E6E6;
            }

        #grobBtn {
            background-color: rgba(255, 255, 255, 0.5);
            -webkit-appearance: none;
            -moz-appearance: none;
            text-align: center;
            cursor: pointer;
            bottom: 0;
            padding: 1em 0;
        }

        .hamburger {
            display: block;
            top: 60px;
        }
    }
